# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# server gitignore
server/.DS_Store
server/.idea/shelf
server/confluence/target
server/dependencies/repo
server/android.tests.dependencies
server/dependencies/android.tests.dependencies
server/dist
server/local
server/gh-pages
server/ideaSDK
server/clionSDK
server/android-studio/sdk
server/out/
server/tmp
server/intellij
server/workspace.xml
server/*.versionsBackup
server/idea/testData/debugger/tinyApp/classes*
server/jps-plugin/testData/kannotator
server/js/js.translator/testData/out/
server/js/js.translator/testData/out-min/
server/js/js.translator/testData/out-pir/
server/.gradle
server/build
server/!**/src/**/build
server/!**/test/**/build
server/*.iml
server/!**/testData/**/*.iml
server/.idea/artifacts
server/.idea/remote-targets.xml
server/.idea/libraries/Gradle*.xml
server/.idea/libraries/Maven*.xml
server/.idea/modules
server/.idea/runConfigurations/JPS_*.xml
server/.idea/runConfigurations/_JPS_*.xml
server/.idea/runConfigurations/PILL_*.xml
server/.idea/runConfigurations/_FP_*.xml
server/.idea/runConfigurations/_MT_*.xml
server/.idea/libraries
server/.idea/modules.xml
server/.idea/gradle.xml
server/.idea/compiler.xml
server/.idea/inspectionProfiles/profiles_settings.xml
server/.idea/.name
server/.idea/jarRepositories.xml
server/.idea/csv-plugin.xml
server/.idea/libraries-with-intellij-classes.xml
server/.idea/misc.xml
server/.idea/protoeditor.xml
server/node_modules/
server/.rpt2_cache/
server/libraries/tools/kotlin-test-js-runner/lib/
server/local.properties
server/buildSrcTmp/
server/distTmp/
server/outTmp/
server/test.output
server/kotlin-native/dist
server/kotlin-ide/
server/.kotlin/
server/.teamcity/
